body {
  background: linear-gradient(-90deg, #000000, #272029, #0f0216, #000000);
  background-size: 600% 600%;
  animation: gradient 25s ease infinite;
  font-family: "Josefin Sans", sans-serif;
  width: 100%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.picture-container {
  height: 400px;
  width: 600px;
  margin: 20px;
}

.input-date {
  padding-top: 10px;
  height: 25px;
  display: flex;
  padding-top: 10px;
}

img {
  height: 400px;
  width: 600px;
  transition: transform 1.5s;
  filter: drop-shadow(0 0 0.75rem rgb(45, 24, 67));
}

img:hover {
  transform: scale(1.5);
}

p {
  width: 1000px;
  height: 100px;
  color: white;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: double rgb(93, 92, 92) 1px;
}

.navbar .nav-links {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 40px;
  margin: 20px;
}

.navbar .nav-links li {
  transition: color 0.2s ease;
}

.navbar .nav-links li:hover {
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.text {
  color: white;
}

.nav-logo {
  color: white;
}

.title-container {
  width: 500px;
  height: 30px;
  margin: 10px;
  padding: 20px;
}

.nasa-title {
  color: white;
  text-align: center;
}

.nasa-picture {
  border: none;
}
